/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
:root {
  --grey: #363636;
  --light-grey: #444444;
  --dark-grey: hsl(0, 0%, 20%);

  --yellow: #ffb62c;

  --cream: #b4b4b4;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
  font-weight: 600;
}

section {
  height: 100vh;
  width: 100vw;
}

#displaySection,
#result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#displaySection {
  height: 40%;

  background-color: var(--grey);
  color: hsl(0, 0%, 99%);

  padding: 1rem;
}

#expression {
  font-size: 3rem;
}

#result {
  font-size: 9rem;
}

#inputPane div {
  border-radius: 10px;
}

#inputPane > div:not(#numberPane) {
  background-color: var(--grey);
  color: var(--yellow);
}

#inputPane div:not(#numberPane) {
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.74);
}

#inputPane {
  height: 60%;

  background-color: var(--light-grey);

  display: grid;
  gap: 10px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);

  padding: 10px;

  font-size: 2rem;
}

#numberPane div {
  background-color: var(--grey);
}

#numberPane {
  background-color: var(--dark-grey);
  color: var(--cream);

  grid-row: 2/6;
  grid-column: 1/4;

  display: grid;
  gap: 4px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

#equals {
  grid-row: 4/6;
}

@media (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: rgb(94, 94, 94);
  }

  section {
    width: 40%;
    height: 70%;

    border-radius: 15px;
    border: 4px solid black;
  }

  #displaySection {
    border-bottom: 3px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  #display {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    background-color: rgb(24, 24, 24);

    padding-right: 1rem;

    border-radius: 10px;
  }

  #inputPane {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
